div.images-container {
  display: grid;
  grid-template-columns: auto auto auto;
}

div.images-container div {
  text-align: center;
  border: 1px solid black;
  border-radius: 15px;
}

div.images-container img {
  margin-top: 1rem;
  max-width: 20rem;
  max-height: 30rem;
}
